@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){ /* tablets */
    section {
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 40vh;
    }

    div#image {
        height: 40vh;
        width: 30vw;
        border-radius: 20px 0px 0px 20px;
    }
    
    div#iform {
        padding-top: 25px;
        height: 40vh;
        width: 90vw;
        border-radius: 0px 20px 20px 0px;
    }

    div#iform input[type=text], input[type=password] {
        width: 90%;
    }

    div#iform>form {
        margin-top: 20px;
    }

    div#ilabels {
        width: 45%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px){ /* desktop */

}

@media screen and (min-width: 1200px){ /* telas grandes */

}