@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    /* tablets */
    section {
        flex-direction: row;
        width: 80vw;
        height: 50vh;
    }

    div#image {
        flex: 1;
        width: 30vw;
        border-radius: 20px 0px 0px 20px;
    }

    div#iform {
        flex: 2;
        padding-top: 4vh;
        padding-bottom: 4vh;
        width: 90vw;
        border-radius: 0px 20px 20px 0px;
    }

    div#iform input[type=text],
    input[type=password] {
        width: 90%;
    }

    div#iform>form {
        margin-top: 20px;
    }

    div#ilabels {
        width: 45%;
    }

    div#divInputs {
        height: 20%;
    }
}

@media screen and (min-width: 992px) {

    /* desktop */
    section {
        flex-direction: row;
        width: 50vw;
        height: fit-content;
    }

    div#image {
        flex: 1;
        width: 30vw;
        border-radius: 20px 0px 0px 20px;
    }

    div#iform {
        flex: 2;
        border-radius: 0px 20px 20px 0px;
    }
}